/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 nov. 2014, 14:25:58
    Author     : yannick
*/

body, html{
    margin:0;
    padding:0px;
    text-align:center;
    margin-bottom:15px;
    width: 100%;
}

body{
    background-color: #FFFFFF;
}

header{
    display: block;
    background-color: #005578;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: solid 5px;
    border-color: #000;   
    padding: 0.856rem;
    padding-bottom: 20px;
    overflow: hidden;
}

.right
{
    float: right;
    margin-left: 10px;
}

.espaceCellule{
    padding: 2px 2px;
}

.invisibleError {
    display: none;
    font-family: 'Lucida Bright', Georgia, serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714302062988px;
}

.centre{
    text-align: center;
}

.left-score
{
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.ScorePerso
{
    font-size: 20px;
    color: #ADFF2F;
}
.ScorePartie
{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.Icone
{
    
    display: inline-block;
    margin: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

#CarteCentral
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    width: 350px;
    height: 350px;
    padding: 25px;
}

#headprincipal{
    background-color: #28a4c9;
}
#legame{
    height: 100%;
    width: 100%;
    background-color: grey; 
}

#login>input
{
    border-radius: 10px;
    margin-right: 10px;
}
