/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 nov. 2014, 14:25:58
    Author     : yannick
*/

body, html{
    margin:0;
    padding:0px;
    text-align:center;
    margin-bottom:15px;
    width: 100%;
}

body{
    background-color: #FFFFFF;
}

header{
    display: block;
    background-color: #005578;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: solid 5px;
    border-color: #000;   
    padding: 0.856rem;
    padding-bottom: 20px;
    overflow: hidden;
}

.right
{
    float: right;
    margin-left: 10px;
}

.espaceCellule{
    padding: 2px 2px;
}

.invisible {
    display: none;
}

.invisibleError {
    display: none;
    font-family: 'Lucida Bright', Georgia, serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714302062988px;
}

.centre{
    text-align: center;
}

.left-score
{
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.ScorePerso
{
    font-size: 20px;
    color: #ADFF2F;
}
.ScorePartie
{
    display:inline-block;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}
.head_underline{
    font-weight:bold;
    text-decoration: underline;
}

.centre-taille40{
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}

.block
{
    display: block;
}

.CarteC
{
    width: 350px;
    height: 350px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5%;
    border-radius: 30%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding-top: 2%; 
}

.perso
{
    border-color: #3E4000;
    background-color: #888700;
    margin-left: 2%;
}

.Pile
{
    border-color: #730F0E;
    background-color: #FF5B00;
    margin-right:  2%;
    
}

.adversaire
{
    border-color: #1D4073;
    background-color: #5CAAFF;
    margin-left: 1%;
    margin-right: 1%;
}

.Icone
{
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.Cperso
{
    border-radius: 48%;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF ;
    padding-bottom: 20px;
}

.Icone>img
{
    display: block;
    margin: auto;
    //vertical-align: middle;
}

#headprincipal{
    background-color: #28a4c9;
}
#legame{
    height: 100%;
    width: 100%;
    background-color: grey; 
}

#login>input
{
    border-radius: 10px;
    margin-right: 10px;
}
